body{
	background: #fff;
}
@import "tabs/index";
@import "tree/index";
@import "treeSelect/index";
@import "select/index";

.yy-formulas{
	padding: 15px;
	zoom: 1;
	.yy-formulas-textarea-warp{
		height: 180px;
		.yy-formulas-textarea{
			width: 100%;
			height: 100%;
			resize: none;
		}
	}
	.yy-formulas-button-warp{
		.yy-formulas-button{
			display: block;
			margin-bottom: 5px;
			width: 100%;
			line-height: 18px;
		}
	}
	.yy-tab-content{
		padding: 15px;
	}
	.rc-tree{
		height: auto;
		max-height: 300px;
		overflow: auto;
	}
	.yy-search-selected{
		.rc-tree-node-content-wrapper{
			font-weight: bold;
			background:#900;
		}
	}
	.rc-select{
		display: block;
	}
	.nav-pills{
		max-height: 300px;
		overflow: auto;
	}
	.subject-search a{
		color: #999;
		font-weight: bold;
		font-size:14px;
	}
	.formulas-desc{
		padding: 15px;
		font-weight: bold;
	}
}
.rc-select-dropdown{
	max-height: 300px;
	overflow: auto;
}
